* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html {
		scroll-behavior: smooth;
	}
	body {
		overflow-x: hidden;
		font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, 'Arial', sans-serif;
		position: relative;
		background: linear-gradient(300deg, rgba(0, 255, 255, 0.1) 50%,
		 rgba(22, 22, 68, 0.1) 100%);
		position: relative;
	}
	/*body::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: darkgreen;
		opacity: 0.3;
		z-index: 3;
	}*/
	a {
		text-decoration: none;
	}
	h4 {
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
	}
	nav {
		overflow: hidden;
		/*position: fixed;
		top: 0;
		left: 5%;*/
		color: white;
		margin: auto;
		width: 90%;
		background: ghostwhite;
		/*z-index: 6;*/
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem;
		/*box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1),
			0px 2px 4px rgba(0,0,0,0.1), 0px 4px 8px rgba(0,0,0,0.1),
			0px 8px 16px rgba(0,0,0,0.1);
		position: sticky;
		top: 0;
		left: 0;*/
	}
	nav .logo {
		font-weight: 600;
		/*font-size: 1.5rem;*/
		color: rgba(22, 22, 98, 0.8);
		padding: 0.5rem;
	}
	@media(max-width: 620px) {
		nav .logo {
			font-size: 1rem;
		}
	}
	@media(max-width: 575px) {
		nav .logo {
			font-size: 0.8rem;
		}
	}
	nav .links {
		color: rgba(22, 22, 68, 1.0);
	}
	nav .links a {
		color: rgba(22, 22, 68, 1);;
		border: 1px solid rgba(22, 22, 68, 1);;
		padding: 0.3rem 0.8rem;
		border-radius: 1rem;
		cursor: pointer;
		font-weight: 600;
	}
	nav .links a:hover {
		opacity: 0.8;
		background: rgba(0, 255, 255, 1);
		color: rgba(22, 22, 68, 1);
	}
	
	ul li, ol li{
	list-style-type: none;

	}

	@media(max-width: 500px) {
		.gw {
			font-size: 0.7rem;
			padding-top: 0.3rem;
		}
	}

	@media screen and (max-width: 903px) {
		
		nav a:not(:first-child) {
			display: none;
		}
		nav a.more {
			float: right;
			display: block;
		}

		nav.responsive {
			position: absolute;
			z-index: 99;
		}

		nav.responsive a.more {
			position: absolute;
			right: 0;
			top: 0;
		}
		nav.responsive a {
			float: none;
			display: block;
			text-align: left;
		}
	}
	#wcard, #fhit, #tcap, #bbench {
		display: flex;
		justify-content: center;
		align-items: center;
	}


	/* main */
	.main {
		width: 90%;
		margin: auto;
		display: grid;
		grid-template-columns: 2fr 1fr;
		/*grid-template-rows: repeat(2, 1fr);*/
		grid-gap: 1rem;
		/*margin-top: 61px;*/
	}
	
	.players-table {
		padding: 0.2rem;
		height: 710px;
		overflow-x: auto;
	}
	.small {
		font-size: 1rem;
	}
	.large {
		font-size: 1.2rem;
	}
	
	@media(max-width: 1000px) {
		.main {
			width: 100%;
			grid-template-columns: 65% 35%;
			grid-gap: 0.5rem;
			margin-top: 10px;
		}
		nav {
			width: 100%;
		}
		.fixtures-col {
			min-width: 100%;
		}
		footer {
			min-width: 100%;
		}
	}
	@media(max-width:  970px) {
		.main {
			grid-template-columns: 1fr;
		}

		.players, .player-info {
			min-width: 100%;
		}
		.players-table {
			min-height: 1400px;
		}
	}
	@media(max-width:  725px) {
		
		.small {
			font-size:  0.7rem;
		}
		.large {
			font-size: 1rem;
		}
		.transfers-col, .players-col {
			min-width: 100%;
		}
		.tname {
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		.btn-name {
			display: none;
		}
	}
	@media(max-width: 620px) {
		.btn {
			font-size: 0.7rem;
		}
		.large {
			font-size: 0.7rem;
		}
		.element_container-two {
			width: 6.2rem;
		}
		.bench_element {
			column-gap: 0;
		}
		
	}
	@media(max-width:  500px) {
		.tteam {
			flex-direction: column;
			justify-content: center;
		}
		.styledPitchElement {
			padding: 0;
		}
	}
	.transfers-col {
		position: relative;
		/*grid-column: 1/3;
		grid-row: 1/2;*/
	}
	.transfer-rows {
		display: flex;
		margin-top: 1rem;
		width: 100%;
		height: fit-content;
		/*border: 1px solid black;*/
		padding: 0.5rem;
		display: flex;
		column-gap: 0.5rem;
		background: rgba(0, 139, 139, 0.5);
		border-radius: 10px;
	}
	.transfer-rows h4 {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		padding: 0.3rem 0.6rem;
	}
	.no-trans {
		text-align: center;
		font-weight: 700;
		padding: 0.2rem;
	}
	.transfer-out-wrapper, .transfer-in-wrapper{
		/*border: 1px solid black;*/
		width: 50%;
		padding: 0.3rem;
		background: #fff;
		border-radius: 10px;
	}
	.transfer-out, .transfer-in {
		padding: 0.5rem 0;
	}
	.transfer-in-wrapper {
		text-align: right;
	}
	.trans-wrapper {
		display: flex;
		flex-direction: column;
		padding: 0.3rem;
	}
	.trans {
		padding: 0.3rem;
		font-weight: bolder;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.trans-team {
		text-transform: capitalize;
		padding: 0.3rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.trans-team img {
		width: 25px;
		height: 30px;
	}
	.trans-wrapper:not(.trans-wrapper:last-child) {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}
	.oppfix span.opponent:not(span.opponent:nth-of-type(1)),
	.up-fix > div > span.opponent:not(span.opponent:nth-of-type(1)){
		border-left: none;
	} 
	@media(max-width: 600px) {
	.up-fix > div > span.opponent:not(span.opponent:nth-of-type(1)){
		/*border-left: 1px solid black;*/
		border-top: none;
	} 
	}
	.players-col {
		background: #fff;
	}
	.fixtures-col {
		/*grid-column: 1/3;
		grid-row: 2/3;*/
		width: 90%;
		background: #fff;
		margin: auto;
		padding: 1rem;
		padding-top: 3rem;
		text-align: center;
	}
	.fixture-heading {
		padding: 0.5rem 0;
		width: 50%;
		margin: auto;
		border-bottom: 1px solid black;
	}
	@media(max-width: 620px) {
		.fixture-heading {
			width: 100%;
		}
	}
	.pitch {
		min-height: 597px;
		background: url('./static/pitch.png') center center / 892px 597px no-repeat;
		position: relative;
	}
	/*.btn-details img {
		width: 65px;
	}*/
	.image_pic {
		width: 43.33px;
		height: 65px;
	}
	@media(max-width: 620px) {
		.image_pic {
			width: 36.67px;
			/*height: 72.5px;*/
			height: 55px;
		}
	}
	@media(max-width: 515px) {
		.image_pic {
			width: 30px;
			/*height: 59.3px;*/
			height: 45px;
		}
	}
	.image  img {
		height: 100%;
		width: 100%;
	}
	.pitch_row {
		display: flex;
		/*max-width: 550px;*/
		margin: auto;
		/*margin-top: 0.9rem;*/
		padding-bottom: 0.3rem;
		align-items: flex-start;
		justify-content: center;
		column-gap: 2.5%;
	}
	@media(max-width: 575px) {
		.pitch_row {
			column-gap: 1.0%;
		}
	}
	@media(max-width: 435px) {
		.pitch_row {
			column-gap: 0.4%;
		}
	}
	@media(max-width: 400px) {
		.pitch_row {
			column-gap: 0.2%;
		}
	}
	.pitch_unit {
		flex: 1 1 0%;
		display: flex;
		flex-direction: column;
		align-items: center;
		-webkit-box-align: center;
	}
	.element_container {
		margin: 0.2rem;
		padding: 0.4rem;
		/*border-radius: 0.4rem;*/
		-webkit-box-align: stretch;
		align-items: stretch;
	}
	@media (max-width: 545px) {
		.element_container {
			margin: 0.08rem;
			padding: 0.15rem;
		}
	}
	.element_container-two {
		position: relative;
		margin: auto;
		/*padding-right: 0.3rem;
		padding-left: 0.3rem;*/
		text-align: center;
		opacity: 1;
	}
	.btn-details {
		display: block;
		padding: 0.1rem;
		outline: none;
		width: 100%;
		padding: 0;
		border: 0;
		background-color: transparent;
		line-height: 1;
		cursor: pointer;
		font-weight: bolder;
		font-family: 'Montserrat';
		border-radius: 5px;
		border: 1px solid transparent;
	}
	.btn-details:active {
		border: 1px solid rgba(233, 0, 82, 100);;
	}
	.details-cont, .data_fixtures, .next-fix, .up-fix {
		width: 100%;
		font-weight: 700;
		font-family: 'Montserrat', sans-serif;
	}
	.next-fix {
		background: #fff;
		padding: 0.4rem 0;
	}
	.data_name {
		border: 1px solid black;
		width: 100%;
		padding: 0.2rem;
		background-color: rgba(0, 0, 55, 0.9);
		color: white;
		font-size: 0.8rem;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		font-weight: 600;
		/*border-top-left-radius: 5px;
		border-top-right-radius: 5px;*/
	}
	.data_points {
		/*border: 1px solid black;*/
		padding: 0.2rem 0.2rem 0;
		border-bottom-left-radius: 3px;
    	border-bottom-right-radius: 3px;
    	background-color: rgb(255, 255, 235);
    	font-size: 0.8rem;
	}
	.bench_element {
		/*border: 1px solid black;*/
		display: flex;
		max-width: 720px;
		min-height: 15rem;
		margin: auto; 
		position: relative;
		justify-content: left;
		column-gap: 2.5%;
	}
	
	@media(max-width: 550px) {
		.bench_element{
			min-height: 7rem;
		} 
		/*.swap-button, .transfer-button, .player-info-button {
			display: none;
		}*/
	}
	.bench_element::after {
		/*content: '';
		position: absolute;
		z-index: 1;
		background: linear-gradient(300deg, rgba(0, 229, 229, 0.56) 15.54%,
	    	rgba(0, 229, 0, 0.192) 60.23%, rgba(0, 229, 229, 8e-5) 100%);
		bottom: 0;
		width: 100%;
		height: 40%;*/
	} 
	.bench {
		/*padding: 1rem;*/
	}
	.bench_boost {
		background: rgba(13, 122, 86, 0.4);
		border: 5px solid rgba(13, 122, 86, 1.0);
	}
	.bench_unit {
		flex: 1 1 0%;
		display: flex;
		flex-direction: column;
		-webkit-box-align: stretch;
		align-items: stretch;
		align-self: center;
		padding-top: 0.5rem;
		width: 123.56px;
		max-height: 136.88px;
	}
	.goalie {
		order: -1;
	}
	.one {
		order: 1;
	}
	.two {
		order: 2;
	}
	.three {
		order: 3;
	}
	.player-active {
		background: rgba(195, 70, 0, 0.5);
		border-radius: 5px;
	}
	@media(max-width:  555px) {
		/*.bench_unit {
			flex-grow: 0;
			flex-shrink: 0;
			width: 25%;
		}
		.bench_element {
			justify-content: center;
		}
		.data_name, .data_points, .bench_unit_heading {
			font-size: 0.7rem;
		}*/
	}
	#goalkeeper {
		order: -1;
	}
	.bench_unit_heading {
		margin: 0.2rem;
		padding: 0.1rem;
		font-size: 0.8rem;
		text-align: center;
		text-decoration-line: underline;
	}
	.bean1 {
		/*border: 1px solid black;*/
		margin: 0 0.2rem;
		padding: 0.2rem 0;
		border-radius: 0.4rem;
	 	-webkit-box-align: stretch;
	 	align-items: stretch;
	}
	.styledPitchElement {
		position: relative;
		margin: auto;
		/*padding-right: 0.3rem;
		padding-left: 0.3rem;*/
		opacity: 1;
	}
	.buttons {
		padding: 0 0.4rem;
		margin-top: 0.5rem;
		/*height: 42.59px;*/
	}
	.details-one {
		background: #fff;
		/*border: 1px solid rgba(0, 0, 0, 0.2);*/
		padding: 0.8rem;
		/*border-radius: .8rem;*/
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		border-bottom: none;
	}
	.tteam {
		/*min-height: 180px;*/
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0.5rem 0;
		border-radius: 10px;
		background: linear-gradient(300deg, rgba(0, 255, 255, 0.1) 50%, 
      	rgba(0, 255, 255, 0.3) 100%);
		box-shadow: 0px 0px 5px;
		color:  rgb(22 22 68);
		padding: 1rem 0;
	}
	.slideshow {
		display: none;
	}
	#deadline {
		text-align: center;
		padding: 0.5rem;
	}
	#gameweekNum, .theading {
		padding: 0.25rem;
	}
	@media(max-width: 620px) {
		#deadline, #gameweekNum, .theading {
			padding: 0.2rem;
		}
	}
	.tname-details, .trank-details {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0.5rem;
		width: fit-content;
		color: rgba(22, 22, 68, 1.0);
		z-index: 1;
		/*box-shadow: 0px 0px 5px rgba(22, 22, 68, 1.0);*/
	}
	.trank-details > div {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@media(max-width: 600px) {
		.tname-details, .trank-details {
			padding: 0.25rem 0.5rem;
		}
	}
	.tname, .trank {
		/*font-weight: bolder;
		font-size: 1rem;*/
		text-align: center;
	}
	.tname {
		display: block;
		max-width: 300px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	@media(max-width:  725px) {
		.tname {
			width: 200px;
		}
	}
	@media(max-width:  575px) {
		.tname {
			width: 100px;
		}
	}
	.arrow {
		margin-left: 0.5rem;
		display: flex;
		align-items: center;
	}
	.ttime {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap:  0.5rem;
		font-weight: 600;
		padding: 0.25rem;
	}
	.ttime div {
		background: linear-gradient(300deg,  rgba(0, 255, 255, 0.5) 50%,
		rgba(0, 255, 255, 1) 100%);
		border-radius: 5px;
		padding: 0.2rem 0.5rem;
		text-align: center;
		border: 1px solid rgba(22, 22, 68, 0.2);
	}
	.new_ranks {
		position: absolute;
		right: 28%;
		bottom: 0%;
	}
	#red_rank, #green_rank {
	}
	.hide_rank {
		display: none;
	}
	.show_rank {
		display: block;
	}
	.ttime > div {
		display: flex;
		align-items: center;
		min-width: 76.5px;
	}
	@media(max-width: 575px) {
		.ttime > div {
			flex-direction: column;
			justify-content: center;
			min-width: 51px;
		}
	}
	@media(max-width: 390px) {
		.ttime > div {
			flex-direction: column;
			justify-content: center;
		}
		.ttime > div:last-of-type {
			display: none;
		}
	}
	/* The dots/bullets */
      .dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .active, .dot:hover {
        background-color: #717171;
      }
      .dots {
      	padding-top: 1rem;
      }
	#day, #hour, #minute, #second {
		display: block;
		margin: 0.3rem;
		text-align: right;
	}
	.gw-buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0.8rem;
		padding: 0 1rem;
		background: linear-gradient(300deg, rgba(0, 229, 229, 0.56) 15.54%,
	    	rgba(0, 229, 0, 0.192) 60.23%, rgba(0, 229, 229, 8e-5) 100%);
	}
	.budget {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.3rem 0;
		margin: 0 0.8rem;
		/*font-family: 'Montserrat';*/
	}
	.gw-buttonswrapper {
		background: rgba(235, 235, 235, 0.5);
		margin: 0 -0.8rem;
		padding: 0.4rem 0;
	}
	.budgetwrapper {
		background: rgba(235, 235, 235, 1);
		position: relative;
		/*margin: 0 -0.8rem -0.8rem;*/
	}
	.budgetwrapper::after {
		content: '';
		position: absolute;
		top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
	    background: linear-gradient(100deg, rgba(0, 229, 229, 0.56) 15.54%,
	    	rgba(0, 229, 0, 0.192) 60.23%, rgba(0, 229, 229, 8e-5) 100%);
	}
	.budget-players, .free-transfers, .cost-transfers, .remain {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 0.3rem;
		padding: 0.3rem;
		color: rgba(22, 22, 68, 1.0);
	}
	.budget-players span, .free-transfers span, .cost-transfers span, .remain span {
		font-weight: bolder;
	}
	.remain-budget {
		padding: 0.3rem;
	}
	.field {
		background-color: rgba(0, 255, 255, 1.0); 
		padding-top: 1rem;
	}
	.captain, .vice-captain {
		position: absolute;
		right: 0.2rem;
		top: 0.2rem;
		width: 1.2rem;
		height: 1.2rem;
	}
	@media(max-width: 620px) {
		.captain, .vice-captain {
			position: absolute;
			top: 0.5rem;
			right: 0;
			width: 1rem;
			height: 1rem;
		}
	}
	.transfer-button {
		position: absolute;
		left: 0.4rem;
		top: 50px;
		background: transparent;
		border: 0;
		outline: none;
		cursor: pointer;
	}
	.player-info-pitch {
		position: absolute;
		left: 0.4rem;
		top: 0.4rem;
	}
	.player-info-button, .player-info-button-table {
		background: #fff;
		border: 0;
		outline: none;
		cursor: pointer;
		height: 16px;
	}
	.swap-button-in, .swap-button-out {
		position: absolute;
		right: 0.4rem;
		top: 50px;
		outline: none;
		background: transparent;
		border: 0;
		cursor: pointer;
	}
	.new {
		position: absolute;
		right: 0.4rem;
		bottom: 83px;
		font-size: 0.4rem;
		padding: 2px;
		font-weight: bold;
		background: white;
		border: 1px solid rgba(0, 0, 0, 0.5);
	}
	.save-button {
		background-color: ghostwhite;
		text-align: center;
		padding: 1rem 0;
	}
	.playerpopup {
		position: absolute;
		width: 100%;
		height: 100%;
		content: '';
		top: 0;
		left: 0;
		background-color: rgba(23, 255, 23, 0.3);
		z-index: 9;
	}
	.playerpop {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 70vw;
		height: fit-content;
		margin: auto;
		padding: 0.4rem;
		background: white;
		z-index: 99;
		/*animation-name: modal-animate;
		animation-duration: 0.5s;*/
		border: 1px solid rgba(0, 0, 0, 0.3);
	}
	@media(max-width: 620px) {
		.playerpop {
			width: 90vw;
		}
	}

	.playerpop1 {
		border: 1px solid rgba(0, 0, 0, 0.3);
		margin: auto;
		max-width: min-content;
		height: min-content;
		padding: 0.4rem;
		background: white;
		text-transform: capitalize;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
	}

	.info-details span.small {
		display: block;
		padding: 0.1rem;
		margin: 0.1rem 0;
		font-weight: 600;
		color: rgba(22,22,68,1);
	}
	.info-details {
		background: ghostwhite;
		/*border-radius: 5px;*/
		padding: 0.5rem;
		border: 1px solid rgba(0, 0, 0, 0.3);
	}
	.btn-player {
		position: absolute;
		top: 0.5rem;
		right: 0.6rem;
	}
	.games-info {
		padding: 0.1rem;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-top: none;
	}
	.games-info-fixtures {
		/*display: none;*/
		display: flex;
		justify-content: left;
		align-items: center;
		border: 1px solid rgba(0, 0, 0, 0.3);
	}
	.games-info-fixtures .table tbody td, .games-info-fixtures .table thead th {
		padding: 0.3rem 2.0rem;
	}
	@media(max-width: 600px) {
		.games-info-fixtures .table tbody td, .games-info-fixtures .table thead th {
			padding: 0.3rem 1.9rem;
		}
	}
	@media(max-width: 580px) {
		.games-info-fixtures .table tbody td, .games-info-fixtures .table thead th {
			padding: 0.3rem 1.8rem;
		}
	}
	@media(max-width: 560px) {
		.games-info-fixtures .table tbody td, .games-info-fixtures .table thead th {
			padding: 0.3rem 1.7rem;
		}
	}
	@media(max-width: 540px) {
		.games-info-fixtures .table tbody td, .games-info-fixtures .table thead th {
			padding: 0.3rem 1.6rem;
		}
	}
	@media(max-width: 520px) {
		.games-info-fixtures .table tbody td, .games-info-fixtures .table thead th {
			padding: 0.5rem 1.4rem;
		}
	}
	@media(max-width: 480px) {
		.games-info-fixtures .table tbody td, .games-info-fixtures .table thead th {
			padding: 0.3rem 1.3rem;
		}
	}
	@media(max-width: 460px) {
		.games-info-fixtures .table tbody td, .games-info-fixtures .table thead th {
			padding: 0.3rem 1.2rem;
		}
	}
	
	.games-info-results {
		display: none;
		/*display: flex;*/
	}
	.games-info-buttons {
		padding: 0.1rem;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 0.2rem;
	}
	/*.btn-game-info {
		color: #000;
		background: #fff;
		margin: 0.2rem 0;
		border: 0;
		outline: none;
		border: 1px solid transparent;
		cursor: pointer;
	}
	.btn-game-info:hover {
		color: #fff;
		background: linear-gradient(100deg, black 0%, grey 50%, white 100%);
	}*/
	.table {
		width: 100%;
		border: 0;
		border-collapse: collapse;
		background: white;
		/*font-family: 'Montserrat';*/
		padding: 0.3rem;
	}
	.table tr {
		text-align: center;
	}
	.table tr:first-child {
		border-bottom: 1px solid rgba(0, 0, 0, 1);
	}
	.table tr:not(tr:last-child) {
	border-bottom: 1px solid rgba(0, 0, 0, 1);
	}
	.table tbody tr td, .table thead tr th {
		padding: 0.5rem;
		font-size: 0.7rem;
	}
	.table tbody tr td:not(td:last-child) {
		border-right: 1px solid rgba(0, 0, 0, 0.1);
	}
	.table td {
		font-size: 0.9rem;
	}
	table td span:first-child {
		font-family: 'Montserrat', sans-serif;
	}
	.oppfix {
		display: flex;
	}
	.oppfix span.opponent {
		flex: 1 1 0%;
		padding: 0.1rem;
	}
	span.opponent {
		display:block;
		font-weight: 700;
		min-height: 15px;
		border: 1px solid rgb(27, 26, 26, 1.0);
	}
	.diff-2 {
		background: darkgreen;
		color: #fff;
		font-weight: bolder;
	}
	.diff-3 {
		background: lightgrey;
		color: #000;
		font-weight: bolder;
	}
	.diff-4 {
		background: indianred;
		color: #fff;
		font-weight: bolder;
	}
	.diff-5 {
		background: darkred;
		color: #fff;
		font-weight: bolder;
	}
	.namesection {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.2rem 0.2rem 0.2rem 0.8rem;
		margin-bottom: 0.2rem;
		color: rgba(22, 22, 68, 1.0);
		background: ghostwhite;
		font-family: 'Montserrat';
		font-weight: 600;
		border: 1px solid rgba(0, 0, 0, 0.3);
	}
	.namesection span {
		display: block;
		text-align: center;
		width: 90%;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		padding: 0.2rem 0 0.2rem 2.5rem;
	}
	.infobuttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}.btn-info {
		outline: none;
		border: none;
		background-color: transparent;
		padding: 0.2rem;
		margin: 0.2rem 0;
		cursor: pointer;
		color: #fff;
		font-family: 'Montserrat';
		font-weight: 600;
	}
	.btn-info-block {
		width: 100%;
		padding: 0.6rem 0;
	}
	.btn-danger {
		background: rgba(219, 12, 12, 0.8);
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 0;
	}
	.btn-green {
		background: darkgreen;
		border: 1px solid rgba(0, 0, 0, 0.3);
	}
	.btn-danger:hover {
		background: rgba(219, 12, 12, 1.0);
	}
	.btn-warn {
		background: rgba(45, 137, 147, 0.8);
	}
	.btn-warn:hover {
		background: rgba(45, 137, 147, 1.0);
	}
	 .btn-vcap {
		background: rgba(192, 192, 192, 0.8);
		border: 1px solid rgba(0, 0, 0, 0.3);
		color: black;
		font-weight: 600;
	}
	.btn-vcap:hover {
		background: rgba(192, 192, 192, 1.0);
	}
	.btn-cap {
		background: rgba(255, 215, 0, 0.8);
		border: 1px solid rgba(0, 0, 0, 0.3);
		color: black;
		font-weight: 600;
	}
	.btn-cap:hover {
		background: rgba(255, 215, 0, 1.0);
	}
	.btn-light {
		background: rgba(245, 245, 245, 1.0);
		border: 1px solid rgba(0, 0, 0, 0.3);
		color: #000;
	}
	.btn-light:hover {
		background: rgba(245, 245, 245, 0.8);
	}
	.btn {
		display: inline-block;
		outline: none;
		border: none;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 0.8rem;
		margin: 0.2rem 0;
		text-align: center;
		cursor: pointer;
		color: #fff;
		font-family: 'Montserrat';
		/*border-radius: 5px;*/
	}
	.btn-fpl {
		background: rgba(22, 22, 98, 1.0);
		color: rgba(0, 255, 255, 1.0);
		font-weight: 600;
		border: 1px solid rgba(0, 255, 255, 1.0);
		width: 25%;
	}
	.btn-block {
		width: 100%;
	}
	.btn-game-fixtures {
		font-weight: 700;
		padding: 0.2rem;
	}
	.btn:hover {
		opacity: 0.8;
	}
	.btn:disabled {
		opacity: 0.5;
	}
	.btn-danger {
		background: rgba(219, 12, 12, 0.8);
	}
	.btn-danger:hover {
		background: rgba(219, 12, 12, 1.0);
	}
	.btn-warn {
		background: rgba(45, 137, 147, 0.8);
		border: 1px solid rgba(0, 0, 0, 0.3);
	}
	.btn-warn:hover {
		background: rgba(45, 137, 147, 1.0);
	}
	.btn-close {
		font-size: 0.1rem;
		font-weight: 600;
		padding: 0.2rem 0.4rem;
	}
	.btn-light {
		background: rgba(245, 245, 245, 1.0);
		color: #000;
	}
	.btn-light:hover {
		background: rgba(245, 245, 245, 0.8);
	}
	.btn-displayer {
		max-width: 70%;
		margin: auto;
		overflow: hidden;
		padding: 0 2rem;
		margin-top: 0.8rem;
		display: grid;
	    grid-template-columns: repeat(2, 1fr);
	    grid-gap: 1rem;
	    align-items: center;
	    justify-content: center;
	    text-align: center;
	    /*background: aqua;*/
	}
	.btn-displayer p {
		padding-top: 0.5rem;
		color: rgba(22, 22, 68, 1.0);
		cursor: pointer;
	}
	.btn-displayer > div {
		padding: 0.2rem 0;
	}
	.btn-displayer > div:hover {
		cursor: pointer;
	}
	/*.tab-border {
	    border-bottom: rgba(22, 22, 68, 1.0) 4px solid;
	    
	}*/
	.chip {
		display: flex;
		flex-flow: column;
		align-items: center;
		row-gap: 0.2rem;
		width: 100%;
	}
	.chip h6 {
		text-decoration: underline;
	}
	.gw {
		margin-left: 0.2rem;
		font-weight: 700;
	}
	.btn-chip {
		background: aqua;
		color: rgba(22, 22, 68, 1.0);
		font-weight: 700;
		border: 1px solid rgba(22, 22, 68, 0.5);
	}
	.btn-primary {
		padding: 0.3rem;
	}
	@media(max-width: 600px) {
		.btn-chip, .btn-fpl {
			padding: 0.4rem;
			font-size: 0.6rem;
		}
	}
	@media(max-width: 475px) {
		.btn-chip {
			font-size: 0.5rem;
		}
		.chip h6 {
			font-size: 9px;
		}
	}
	@media(max-width: 370px) {
		.btn-chip {
			padding: 0.2rem;
		}
	}
	.chip-active {
		background: linear-gradient(300deg, rgb(28 49 227) 15.54%, 
      rgb(22 96 87) 60.23%, rgb(22 22 68) 100%);
		color: #fff;
	}
	.chip-inactive {
		opacity: 0.7;
	}
	.upper-buttons, .chip-buttons  {
		display: flex;
		align-items: center;
		margin: auto;
		width: 100%;
		margin-top: 0.4rem;
		justify-content: space-between;
		padding: 0.4rem;
		column-gap: 1rem;
		background: rgba(0, 139, 139, 0.1);
	}
	@media(max-width:  600px) {
		.upper-buttons, .chip-buttons {
			width: unset;
			column-gap: 0.5rem;
		}
	}
	.transfer, .substitute {
		/*display: none;*/
		font-weight: 600;
	}
	.message {
		margin: 0.2rem 0;
		padding: 0.4rem;
		text-align: center;
		/*font-family: 'Montserrat';*/
		font-weight: 600;
		/*display: none;*/
	}
	.success {
		background-color: darkgreen;
		color: #fff;
	}
	.danger {
		background-color: darkred;
		color: #fff;
	}
	.info-success {
		background-color: darkgreen;
		width: fit-content;
		color: white;
		/*padding: 0.2rem;*/
		
	}
	.info-danger {
		background-color: darkred;
		color: white;
		width: fit-content;
		/*padding: 0.2rem;*/
		/*font-family: 'Montserrat';*/
	}

	.show {
    	display: flex;
	}
	#prevGameweek, #nextGameweek {
		display: flex;
		align-items: center;
		padding: 0.8rem 0.5rem;
		border-radius: 10px;

	}
	.prev_next {
		border: 1px solid #161662;
		cursor: pointer;
	}
	/*#prevGameweek {
		justify-content: flex-start;
		column-gap: 2rem;
	}
	#nextGameweek {
		justify-content: flex-end;
		column-gap: 3.5rem;
	}*/
	.fixture-ticker {
		/*overflow: auto;*/
		padding-top: 1rem;
	}
	.next-fixtures {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;
	}
	.ticker-table, .table {
		/*margin: auto;
		table-layout: fixed;
		white-space: nowrap;*/
		font-family: 'Montserrat', sans-serif;
		border-collapse: collapse;
		margin-top: 2rem;
		display: block;
		max-width: fit-content;
		max-width: -moz-fit-content;
		margin: 0.5rem auto;
		overflow-x: auto;
		white-space: nowrap;
		position: relative;
		border-top: 1px solid rgba(0,0,0,0.3);
		border-bottom: 1px solid rgba(0,0,0,0.3);
	}
	@media(max-width: 620px) {
		.ticker-table {
			height: 60vh;
		}
	}
	.ticker-table tbody td {
		padding: 0.1rem;
	}
	.ticker-table tbody td:not(.ticker-table tbody td:first-child),
	.ticker-table thead th:not(.ticker-table thead th:first-child) {
		border-right: 1px solid rgba(22, 22, 68, 0.2);
	}
	.ticker-table thead th:not(.ticker-table thead th:first-child) {
		position: sticky;
		top: 0;
		z-index: 3;
	}
	.ticker-table thead th {
		padding: 0.5rem;
		/*border: 0;
		position: sticky;
		top: 0;
		z-index: 2;*/
		background: #fff;
	}
	.ticker-table thead th:first-child {
		position: sticky;
		left: 0;
		top: 0;
		background: rgba(255, 255, 255, 1);
		z-index: 4;
	}
	/*.ticker-table tbody td:nth-child(2) {
		font-size: 0.9rem;
	}*/
	.table tbody td:first-child {
		position: sticky;
		left: 0;
		background: white;
		z-index: 2;
	}
	.table tbody th:first-child {
		position: sticky;
		left: 0;
		background: white;
		z-index: 2;
	}
	.table tbody td:nth-child(2) {
		position: sticky;
		left: 30px;
		background: whitesmoke;
		z-index: 1;
	}
	.table tbody td:nth-child(1) {
		position: sticky;
		left: 0;
		background: whitesmoke;
		z-index: 1;
	}
	.table-sticky, .table-sticky-1 {
		font-weight: bolder;
	}
	.games-info-fixtures thead th:nth-child(1), .games-info-fixtures tbody td:nth-child(1) {
		z-index: 2;
	}
	.ticker-table tbody td:first-child {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		column-gap: 0.5rem;
		position: sticky;
		left: 0;
		background: rgba(255, 255, 255, 1);
		z-index: 1;
	}
	/*.ticker-table tbody td:first-child span {
		display: block;
	}*/
	.ticker-image {
		padding: 0.1rem;
	}
	.ticker-team {
		/*min-width: 200px;*/
		padding: 0.1rem;
		text-align: left;
	}
	.ticker-image img {
		width: 20px;
		height: 20px;
	}
	.ticker-table tr {
		background: #00ffff42;
	}
	.ticker-table .ticker-team {
		font-weight: 600;
	}
	.footer {
		text-align: center;
		padding: 1rem 0;
		width: 90%;
		background: rgba(22, 22, 68, 1.0);
		color: rgba(0, 255, 255, 1.0);
		margin: auto;
	}
	.social-icons {
		padding: 1rem 0;
		display: flex;
		column-gap: 1rem;
		align-items: center;
		justify-content: center;
	}
	.element_container_1, [width="pitch"] {
		width: 7.2rem;
	}
	[width="pitch"] {
		min-height: 7.2rem;
	}
	.x-small {
		font-size: 0.8rem;
	}
	@media(max-width: 620px) {
		.element_container_1, [width="pitch"] {
			width: 6.8rem;
		}
		[width="pitch"] {
			min-height: 6.8rem;
		}
		.pitch {
			min-height: 545.5px;
			background: url('./static/pitch.png') center center / 808.71px 545.5px no-repeat;
			background-size: cover;
		}
		.player-info-button,
		.swap-button,
		.transfer-button,
		.swap-button-in,
		.swap-button-out {
			display: none;
		}
		.data_name, .data_points, .bean, .x-small, .up-fix > div > span.opponent {
			font-size: 0.7rem;
		}
	}
	/*@media(max-width: 620px) {
		.ticker-table tbody td:first-child {
			box-shadow: 0px 0px 2px;
		}
	}*/
	@media(max-width: 575px) {

		.ticker-team {		
			display: none;
		}
		.ticker-image img {
			width: 16px;
			height: 16px;
		}
		.ticker-table tbody td:first-child {
			max-width:200px;
			justify-content: center;
		}
		.element_container_1, [width="pitch"] {
			width: 6.0rem;
		}
		[width="pitch"] {
			min-height: 6.0rem;
		}
		.pitch {
			min-height: 0px;
			background: url('./static/pitch.png') center center / 760.9px 532.4px no-repeat;
			background-size: cover;
		}
	}
	@media(max-width: 515px) {
		.element_container_1, [width="pitch"] {
			width: 5.5rem;
		}
		[width="pitch"] {
			height: 6.3rem;
		}
		.data_name, .data_points, .bean, .x-small, .up-fix > div > span.opponent {
			font-size: 0.5rem;
		}
		.pitch {
			min-height: 0px;
			background: url('./static/pitch.png') center center / 695.4px 462.66px no-repeat;
			background-size: cover;
		}
	}
	@media(max-width: 475px) {
		.element_container_1, [width="pitch"] {
			width: 5.0rem;
		}
		[width="pitch"] {
			height: 6.3rem;
		}
		.btn {
			padding: 0.4rem;
		}
		#nextGameweek, #prevGameweek {
			padding: 0.4rem;
		}
		
	}
	@media(max-width: 435px) {
		.element_container_1, [width="pitch"] {
			width: 4.4rem;
		}
		[width="pitch"] {
			height: 6.3rem;
		}
		.data_name, .data_points, .bean, .x-small, .up-fix > div > span.opponent  {
			font-size: 0.4rem;
		}
		
	}
	@media(max-width: 374px) {
		.element_container_1, [width="pitch"] {
			width: 4.0rem;
		}
		[width="pitch"] {
			height: 6.0rem;
		}
		.btn {
			padding: 0.2rem;
		}
	} 
	.data_fixtures {
		background: transparent;
	}
	.next-fix  {
		background: #fff;
		padding: 0.1rem 0;
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
	.next-fix > span, .up-fix > span {
		font-weight: bolder;
	}
	.next-fix span:first-of-type {
		background-color: #445b44;
		color: white;
	}
	.next-fix span:not(:last-of-type), .up-fix span:not(:last-of-type) {
		/*margin-right: 2px;*/
	}
	.data_fixtures .up-fix {
		background: transparent;
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	.up-fix div {
		flex: 1 1 0%;
		/*font-size: small;*/
		display: flex;
	}
	@media(max-width: 600px) {
		.up-fix div {
			font-size: xx-small;
			/*flex-flow: column;*/
		}
	}
	.data_fixtures span {
		flex: 1 1 0%;
		display: block;
		/* border: 1px solid rgba(0, 0, 0, 0.5); */
		padding: 0.2rem 0;
		/*min-height: 10px;*/
		/*border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;*/
	}
	.show-btn {
		display: block;
	}
	.hide-btn {
		display: none;
	}
	#modal {
		width: 40vw;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 10;
		background: rgba(255, 255, 255, 1.0);
		box-shadow: 0px 0px 20px rgb(16, 16, 16);
		padding: 1rem;
		height: fit-content;
		margin: auto;
		/*animation-name: modal-animate;
		animation-duration: 0.5s;*/
	}
	@media(max-width: 600px) {
		#modal {
			width: 70vw;
		}
	}

	

	/*-webkit- @keyframes modal-animate {
		from {
			top: -100px;
			opacity: 0;
		}
		to {
			top: 0px;
			opacity: 1;
		}
	}*/

	@keyframes modal-animate {
		from {
			top: -100px;
			opacity: 0;
		}
		to {
			top: 0px;
			opacity: 1;
		}
	}
	#modal .btn-close {
		position: absolute;
		right: 1rem;
		top: 10px;
	}
	#modal .btn-fpl {
		margin-top: 1rem;
	}
	#modal label {
		margin-bottom: 1rem;
	}
	.hide_modal {
		display: none;
	}
	.show_modal {
		display: block;
	}
	.player_in {
		border: 1px solid #00000078;
		background-color: #ffd70099;
	}

	/*.btn-save {
		background-color: black;
		color: white;
		width: 50%;
		padding: 1.2rem 0.5rem;
		border-radius: .3rem;
		font-size: 1.2rem;
	}*/
	.container {
            display: flex;
            justify-content: center;
        }
        .spinner {
            width: 50px;
            height: 50px;
			margin-top: 3rem;
            border: 3px solid rgba(0, 255, 255, 0.5);
            border-left-color: rgba(22, 22, 68, 1.0);
            border-radius: 50%;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(360deg);
            }
        }
.swap {
	background: rgba(251, 13, 102, 0.35);
	border-radius: 5px;
}	

.welcome {
	width: 90%;
	text-align: center;
	background: aliceblue;
	margin: auto;
	padding: 1.5rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 45vh;
}
.header {
	font-weight: 500;
	font-size: 2rem;
	padding-bottom: 1.5rem;
}
.sub-header {
	font-weight: 200;
	font-size: 0.9rem;
}

@media(max-width: 1000px) {
	.welcome  {
		width: 100%;
	}
}

@media(max-width: 600px) {
	.welcome {
		height: 35vh;
	}
}
		